<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="form">
      <form action="/new" method="POST" autocomplete="off">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" />

        <label for="text">Text: </label>
        <input type="text" name="text" id="text" />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
