<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Messgae Board</h1>
    <div class="new-message">
      <a href="/new"><button type="button">New Message</button></a>
    </div>
    <div class="messages">
      <% messages.forEach((value,index)=>{ %>
      <ul>
        <li>Name: <%= value.name%></li>
        <li>Text: <%= value.text%></li>
        <li>Added: <%=value.added%></li>
      </ul>
      <%}) %>
    </div>
  </body>
</html>
